*{
    background-color: lightpink;
    color: black;
}

.title{
    background-color: blue;
    text-align: center;
    font-size: 28px;
    font-weight: bold; 
}

.menu{
    background-color: white;
    color: blue;
    border: 8px;
}